
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  header {
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
  
  nav li {
      margin-right: 20px;
  }
  
  nav li:last-child {
      margin-right: 0;
  }
  
  nav a {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
  }
  
  .dashboard {
      background-color :#f5f5f5; 
      display :flex; 
      flex-direction :column; 
      justify-content :center; 
      align-items :center
  }
  
  .dashboard h2{
      font-size :48px
  }
  
  .dashboard p{
      font-size :24px; 
      text-align:center; 
      padding :20px
  }
  
  .quick-links {
      background-color :#fff; 
      display :flex; 
      flex-direction :column; 
      justify-content :center; 
      align-items :center
  }
  
  .quick-links h2{
      font-size :36px
  }
  
  .quick-links ul{
      margin-top :20px
  }
  
  .quick-links li{
      font-size :24px; 
      margin-bottom :10px
  }
  
  .quick-links a{
      color:#4CAF50
  }
  
  .order-stats {
      background-color :#f5f5f5; 
      display :flex; 
      flex-direction :column; 
      justify-content :center; 
      align-items :center
  }
  
  .order-stats h2{
      font-size :36px
  }
  
  .order-stats p{
      font-size :24px; 
  }
  